* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  text-align: center;
  background-color: #00203fff;
  color: #adefd1ff;
}

.App {
  padding: 2rem 1rem;
}

input {
  width: 100%;
  max-width: 350px;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-top: 30px;
}

button {
  border: none;
  outline: none;
  background-color: #adefd1ff;
  color: #00203fff;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}

button:hover {
  background-color: rgb(147, 219, 187);
  cursor: pointer;
  transition: all 0.3s;
}

.qr-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  border: none;
  outline: none;
  background-color: #adefd1ff;
  color: #00203fff;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  width: 100px;
  text-decoration: none;
  margin-top: 20px;
}

img {
  margin-top: 40px;
  width: 100%;
  max-width: 350px;
}
